<div class="row">
    <div class="span3">
        <ul class="nav nav-list well">
            <li class="nav-header">XCI</li>
            <li>{{#linkTo index }}Index{{/linkTo}}</li>
            <li>{{#linkTo music }}Music{{/linkTo}}</li>
        </ul>
    </div>
    <div class="span9">
        <div class="hero-unit well">
            <h1>{{#linkTo music }}Music!{{/linkTo}}</h1>
        </div>
        {{ outlet }}
    </div>
</div>
